In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('npf_train.csv')

In [6]:
# Luodaan sarake class2 jossa on nonevent kun class4 == nonevent ja event kun class4 != nonevent

class2 = np.array([1]*df.shape[0])
class2[df['class4']=='nonevent'] = 0

df['class2'] = class2

df.head()

,id,date,class4,partlybad,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,...,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std,class2
0,1,2000-01-01,nonevent,False,384.462000,2.284996,384.164462,2.135062,385.274688,2.211695,...,0.525698,-12.422972,0.376324,1.635563,0.856948,0.026438,0.014617,0.003374,0.000733,0
1,2,2000-01-20,nonevent,False,374.884615,0.415185,374.703333,0.385179,375.621266,0.665720,...,0.373927,-8.351043,0.575679,1.441109,0.741088,0.022649,0.012479,0.001501,0.000572,0
2,3,2000-01-23,nonevent,False,373.496585,0.189497,373.382593,0.172958,373.961481,0.235107,...,0.965988,-9.651155,1.238891,2.677545,1.261612,0.044759,0.023748,0.000764,0.000048,0
3,4,2000-02-17,nonevent,False,378.600367,1.934180,378.464862,1.946536,379.785872,2.865022,...,0.122651,-0.829524,0.134191,2.261805,1.345651,0.030893,0.021903,0.002038,0.000751,0
4,5,2000-03-25,Ib,False,373.128684,1.096617,372.980000,1.047750,373.701830,1.259198,...,1.695622,-1.095864,2.090111,12.906779,7.022300,0.333523,0.239981,0.000662,0.000210,1

In [7]:
df.shape

(458, 105)

# Data exploration

In [3]:
df = df.drop(['id', 'date'], axis=1)

events = df[df['class2'] == 1]
events.describe()

,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,CO2504.mean,CO2504.std,Glob.mean,Glob.std,...,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std,class2
count,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,...,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.0
mean,378.666854,3.210765,378.727227,3.006002,379.467558,3.982497,378.649672,2.770603,262.391468,190.749955,...,2.088441,7.647669,2.533520,14.238184,10.032049,0.576699,0.493937,0.002391,0.000631,1.0
std,9.095035,3.108486,9.076527,2.890779,8.847632,4.076599,9.092865,2.623091,102.627148,75.724493,...,0.863934,8.316985,1.011091,5.414419,4.227552,0.282646,0.259274,0.001555,0.000566,0.0
min,356.526871,0.151159,356.796486,0.140994,359.795102,0.152663,356.841429,0.127037,8.544639,4.632711,...,0.149476,-15.443188,0.175133,0.789592,0.382201,0.013974,0.007055,0.000227,0.000027,1.0
25%,372.001164,1.279917,371.915463,1.165742,373.579423,1.439869,371.811357,1.112465,206.695607,146.473595,...,1.597857,2.362123,1.947168,11.523815,7.579255,0.384158,0.314102,0.001232,0.000270,1.0
50%,378.596923,2.291191,378.703487,2.194304,379.160252,2.627150,378.585854,2.104727,282.363391,211.275813,...,2.121759,8.254180,2.628716,15.456142,10.900450,0.588782,0.500517,0.001859,0.000486,1.0
75%,385.497111,4.194451,385.710847,3.868494,385.873000,5.356089,385.493923,3.565047,340.036352,250.066003,...,2.632258,13.884333,3.240116,18.212514,13.422619,0.762702,0.682248,0.003380,0.000764,1.0
max,401.099775,20.960630,400.395568,19.351218,408.251573,27.656008,400.290306,17.384845,449.450545,309.124047,...,5.124718,25.897075,5.422549,22.560576,16.692785,1.242857,1.074115,0.009085,0.003658,1.0

In [4]:
nonevents = df[df['class2'] == 0]

nonevents.describe()

,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,CO2504.mean,CO2504.std,Glob.mean,Glob.std,...,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std,class2
count,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,...,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.0
mean,383.325759,3.807639,383.301077,3.585138,384.345494,4.597800,383.177018,3.419206,124.184371,100.393315,...,1.217131,6.150067,1.440667,7.684289,5.659785,0.325823,0.288759,0.003710,0.000686,0.0
std,12.016366,3.713605,12.012717,3.450118,11.402992,4.481549,12.050313,3.158378,108.288433,89.518114,...,0.875462,10.955626,1.063727,6.108969,4.846877,0.304411,0.282476,0.002630,0.000578,0.0
min,359.086782,0.053968,359.476765,0.048990,361.558286,0.179676,359.646471,0.037417,3.719434,1.997962,...,0.066700,-22.659083,0.069879,0.295780,0.174813,0.005346,0.003261,0.000497,0.000048,0.0
25%,373.858302,0.938543,373.559289,0.894248,375.281697,1.015134,373.617421,0.859681,32.787202,20.593208,...,0.494229,-2.377429,0.571612,2.286169,1.345651,0.062806,0.040922,0.001939,0.000294,0.0
50%,383.362549,2.511558,383.263036,2.277120,384.266789,2.913705,383.245357,2.302532,87.599868,65.695328,...,1.043183,6.818275,1.232277,6.019150,4.040927,0.214524,0.177355,0.003056,0.000492,0.0
75%,393.308727,5.947588,393.167091,5.534235,393.167200,7.293165,393.093636,5.374593,192.865269,181.538036,...,1.792850,15.689635,2.139712,12.068088,9.820105,0.570661,0.539926,0.004782,0.000900,0.0
max,411.345970,19.460521,411.360294,17.355640,411.014925,20.410105,411.348676,15.052989,391.977066,283.564677,...,4.336933,25.215417,4.582328,22.200024,16.132505,1.107248,0.982572,0.019094,0.003316,0.0

# Feature selection

In [ ]:
# TODO